allow audioserver adspd:unix_stream_socket connectto;
allow audioserver adspd_data_file:sock_file write;
allow audioserver vendor_default_prop:file { getattr open read };
